<div class="row">
  <div class="col-lg-6">
    <h2>¿Quieres subir fotografías?</h2>

    <%= render "form", picture: @picture %>

    <div class="d-flex justify-content-center mt-4">
      <%= link_to "Ver todas las fotografías", pictures_path, class: "btn btn-outline-primary mb-5" %>
    </div>
  </div>
</div>



